name: Build and upload artifacts

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-webextension:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./ReaderWebExtension

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18.x"

      - name: Install packages
        run: npm ci

      - name: Run build for mozilla browser
        run: npm run build

      - name: Upload mozilla build artefact
        uses: actions/upload-artifact@v3
        with:
          name: mozilla-build-artifact
          path: ./ReaderWebExtension/build
          retention-days: 1

      - name: Run build for chrome browser
        run: npm run build-chrome

      - name: Upload chrome build artefact
        uses: actions/upload-artifact@v3
        with:
          name: chrome-build-artifact
          path: ./ReaderWebExtension/build
          retention-days: 1

  webextension-post-processes:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./ReaderWebExtension

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18.x"

      - name: Install packages
        run: npm ci

      - name: Run prettier format
        run: npm run format

      - name: Run typescript check
        run: npm run tscheck

      - name: Run lint check
        run: npm run lint

      - name: Run webextension mocked test
        run: npm run test-ci

  build-androidapp:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./ReaderAndroidApp

    steps:
      - uses: actions/checkout@v3

      - name: set up JDK 17
        uses: actions/setup-java@v3
        with:
          java-version: "17"
          distribution: "temurin"
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build android app with Gradle
        run: ./gradlew build

      - name: Upload android artifact
        uses: actions/upload-artifact@v3
        with:
          name: android-app-artifact
          path: ./ReaderAndroidApp/app/build/outputs/apk/debug
          retention-days: 1
