name: Build and Deploy simple web page

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: ./ReaderSimpleWeb

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "18.x"

      - name: Install packages
        run: npm ci

      - name: Run build for simple web page
        run: npm run build

      - name: Deploy page
        uses: crazy-max/ghaction-github-pages@v1
        with:
          target_branch: gh-pages
          build_dir: ./ReaderSimpleWeb/build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
