name: NodeJS with Webpack

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-webextension:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./ReaderWebExtension

    strategy:
      matrix:
        node-version: [18.x]

    steps:
      - uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          
      - name: Install packages
        run: npm ci

      - name: Run build for mozilla browser
        run: npm run build

      - name: Upload build zip as artefact
        uses: actions/upload-artifact@v3
        with:
          name: mozilla-build-artefact
          path: ./ReaderWebExtension/build
